<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>멋쟁이사자처럼 at 순천향대학교</title>
    <style>
        * {
            font-size: 16px;
            font-family: Consolas, sans-serif;
        }
    </style>
</head>

<body>

    <nav class="main-menu">



        <div>
            <a class="logo" href="#">
            </a>
        </div>
        <div class="settings">
        </div>
        <div class="scrollbar" id="style-1">

            <ul>
                <li>
                    <a href="{% url 'main' %}">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">출석부 생성</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'show' %}">
                        <i class="fa fa-user fa-lg"></i>
                        <span class="nav-text">날짜별 조회</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'member' %}">
                        <i class="fa fa-user fa-lg"></i>
                        <span class="nav-text">학생별 조회</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'member' %}">
                        <i class="fa fa-user fa-lg"></i>
                        <span class="nav-text">학생 추가</span>
                    </a>
                </li>

            </ul>
    </nav>


    <div class="regibox" align="center">
        {{date}}
        <h2>출석부</h2>
        <div class="regi-page" style="padding-top: 20px;">
            {% for names in names %}
            <form method="POST" action="chk">
                {{names.name}}
                {% csrf_token %}
                <input type="hidden" id="date" name="date" value={{date}}>
                <input type="hidden" id="name" name="name" value={{names.name}}>
                <input type="radio" name="attendance" value="출석">출석
                <input type="radio" name="attendance" value="지각">지각
                <input type="radio" name="attendance" value="결석">결석
                <input type="radio" name="attendance" value="기타">기타
                <!-- <input type="radio" name="attendance" value="기타" formaction="/chk">기타 -->
                <br>
                <button type="submit" value="submit">submit</button>
            </form>
            {% endfor %}
        </div>
    </div>
</body>

</html>