{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>멋쟁이사자처럼 at 순천향대학교</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/member.css'%}">
    <style>
        * {
            font-size: 16px;
            font-family: Consolas, sans-serif;
            
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="content">
            <div class="member_info">
                <h3>{{name.name}}</h3>
                <p>{{name.student_id}}<br>{{name.major}}</p>
            </div>
            <div class="member_image">{{ data|safe }}</div>

            <div class="member_attendance_all">
                {% for member_name in member_name %}

                <div class="member_attendance">
                    <p>{{member_name.attendance}}</p>
                    <p>{{member_name.date}}</p>

                </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="content1">
            <div class="member_name">
                {% for names in names %}
                <a href="{% url 'detail' names.id %}">
                    <p>{{names.name}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

</body>

</html>